<!DOCTYPE html>
<html>
<head>
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: right;
  }
  .title{
    float: left;
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
</style>
</head>
<body>

  <!-- Navbar HTML -->
  <div c; style="display:block;color:black;text-align:center; background-color: rgba(0, 0, 0, 0.2)">
    <div class="title">
      <h2 style="margin: 0;">Modern Furniture</h2>
    </div>
    <ul>  
      <li><a style="" href="#home">Home</a></li>
      <li><a style="" href="#news">News</a></li>
      <li><a style="" href="#contact">Contact</a></li>
      <li><a style="" href="#about">About</a></li>
    </ul>
  </div>

</body>
</html>

